<!-- TITLE -->
<mat-card class="mb-40">
    <h1>Contact List</h1>
</mat-card>

<!-- SEARCH FORM -->
<mat-card>
    
    <div class="card-title">
        <mat-icon>search</mat-icon>
        Search
    </div>
        
    <form name="form-search" class="container-fluid">

        <div class="row">
			
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Email" [(ngModel)]="search.email" name="email" id="email">
                    </mat-form-field>
                </div>
			
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Name" [(ngModel)]="search.name" name="name" id="name">
                    </mat-form-field>
                </div>
			
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Note" [(ngModel)]="search.note" name="note" id="note">
                    </mat-form-field>
                </div>
			
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Phone" [(ngModel)]="search.phone" name="phone" id="phone">
                    </mat-form-field>
                </div>
			
                <div class="col-sm-6">
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="Surname" [(ngModel)]="search.surname" name="surname" id="surname">
                    </mat-form-field>
                </div>
        </div>

    </form>
</mat-card>

<!-- TABLE -->
<table class="table table-hover mt-40">
    <thead>
        <tr>
            <th>_id</th>
            <th>email</th>
            <th>name</th>
            <th>note</th>
            <th>phone</th>
            <th>surname</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list | search: { 'email': search.email, 'name': search.name, 'note': search.note, 'phone': search.phone, 'surname': search.surname }">
            <td><a [routerLink]="['/contacts', item._id]">{{item._id}}</a></td>
            
            <!-- ATTRIBUTES -->
            
            <td>{{item.email }}</td>
            <td>{{item.name }}</td>
            <td>{{item.note }}</td>
            <td>{{item.phone }}</td>
            <td>{{item.surname }}</td>
            
            <!-- DELETE BUTTON -->
            <td>
                <button mat-icon-button (click)="openModal(item._id, modal)" class="mt--10">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
    <div class="no-result" *ngIf="(list | search: {  'email': search.email ,  'name': search.name ,  'note': search.note ,  'phone': search.phone ,  'surname': search.surname  }).length == 0">
        No items found
    </div>
</table>

<!-- BUTTON -->
<button class="btn btn-primary pull-right mb-20" routerLink="/contacts/new" mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>

<div class="clearfix"></div>
